name: "PR Bench"

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened
      - ready_for_review

jobs:
  changes:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      should_run: ${{ steps.filter.outputs.watches }}
    steps:
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            watches:
              - 'zkml/**'
              - 'mpcs/**'
              - '.github/workflows/pr-bench.yml'

  benchmark_pr_branch:
    name: Continuous Benchmarking PRs with Bencher
    needs: changes
    # DO NOT REMOVE: For handling Fork PRs see Pull Requests from Forks
    if: |
      needs.changes.outputs.should_run == 'true'
        && github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: "recursive"
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            zkml_src:
              - 'zkml/**'
              - '.github/workflows/pr-bench.yml'
      - name: Install protoc via apt
        run: sudo apt-get update && sudo apt-get install -y protobuf-compiler
      - name: Install the Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy
          # Manually configure rust-cache
          cache: false
      - uses: bencherdev/bencher@main
      - name: Track PR Benchmarks with Bencher
        run: |
          cd zkml && \
          bencher run \
          --project deep-prove-f264508-ok338l62t85v1 \
          --token '${{ secrets.BENCHER_API_TOKEN }}' \
          --branch "$GITHUB_HEAD_REF" \
          --start-point "$GITHUB_BASE_REF" \
          --start-point-hash '${{ github.event.pull_request.base.sha }}' \
          --start-point-clone-thresholds \
          --start-point-reset \
          --threshold-measure latency \
          --threshold-test percentage \
          --threshold-upper-boundary 0.20 \
          --testbed ci-runner \
          --err \
          --adapter rust_criterion \
          --github-actions '${{ secrets.GITHUB_TOKEN }}' \
          "cargo bench"
